#app {
    // display: flex;
    height: 100%;
    width: 100%;
    // min-width: 1080px;
    background-color: #1A191F;
    color: #dbdbdb;
  }

#nav-menu{
    width: 240px;
    height: calc(100%);
    background-color: #000000;
    float: left;
    box-shadow: 5px 0 20px rgba(0,0,0,.3);
    .logo {
        width: 100%;
        height: 60px;
        text-align: center;
        background-color: #20202A;
        img {
            margin-top: 12px;
        }
    }
    .nav-link{
        display: block;
    }
    .el-menu {
        background-color: #1A191F;
    }
    .el-menu-item,
    .el-submenu .el-submenu__title {
      height: 44px;
      line-height: 44px;
      color: #dbdbdb;
      &:hover {
        background-color: #2b3035;
      }
    }
    .router-link-active {
        color: #03a9f4;
    }
}

// 公共样式
.pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  [v-cloak] {
    display: none;
  }
  a {
    text-decoration: none;
    color: #C0CCDA;
  }
  .router-link-active {
    color: #20a0ff;
  }
